<div class="homepage-title-container">
  <h1 class="homepage-title">Home Exchange</h1>
</div>
<div class="homepage-banner">
  <div class="homepage-container">
    <%= form_with url: flats_path, method: :get, class: "search-form" do |f| %>

      <div data-controller='address-autocomplete' data-address-autocomplete-api-key-value='<%= ENV['MAPBOX_API_KEY'] %>'>
        <%= f.text_field :query, placeholder: "Search for a city...", autococomplete: "off", class: "search-input d-none", data: { address_autocomplete_target: "address" } %>
      </div>
      <%= f.submit "Search", class: "search-button" %>
    <% end %>
  </div>
</div>
